.container {
  background-color: rgb(37, 37, 63);
  padding: 20px;
  box-sizing: border-box;
  color: white;
  flex-grow: 8;
}

.whiteContainer {
  background-color: white;
  padding: 20px;
  box-sizing: border-box;
  color: darkgray;
  flex-grow: 8;
}

.item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 5px;
}

.check {
  display: flex;
  align-items: center;
  accent-color: orange;
  /* text-decoration:line-through */
}

input[type="checkbox"] {
  transform: scale(1.5);
  margin-right: 20px;
}

.delete {
  background-color: cornflowerblue;
  border-radius: 50%;
  width: 15px;
  cursor: pointer;
  padding: 3px 6px;
}

.delete:hover {
  transform: scale(1.12);
  transform: rotate(-20deg);
  transition: all 0.1s ease-in-out;
}
