.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 10px;
  border-bottom: 2px solid rgba(248, 248, 255, 0.26);
  flex-grow: 1;
}

.mode {
  width: 30px;
  height: 30px;
  color: white;
  cursor: pointer;
}

.menu ul {
  display: flex;
  gap: 1rem;
  list-style: none;
}
